/* Add this CSS code to style your login page */

/* .eventz {
    font-family: Arial, sans-serif;

    background-color: #0b0a0b;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1528121108018-743eef2e4a7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  } */
  .ui1{
    background-color: #b8d5e3;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 70px rgba(14, 13, 13, 0.1);
    margin-top: 270px;
    margin-left: 675px;
  }
   
  
  h2 {
    color: #333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .la{
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #2562d4;
    border-radius: 4px;
  }
  
  button {
    background-color: #e1e4e1;
    color: #930e0e;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #dfe9e0;
  }
  
  p {
    margin-top: 10px;
  }
  
  a {
    color: #2a137e;
    text-decoration: underline;
  }
  